<div id="comments">
    <div class="comment_item">
        <div class="comment_ava">
            <img (click)="onNavigateUserHome(user?._id)" id="avatar" [src]="user?.img">
        </div>
        <div class="comment_item_content">
            <div class="comment_info">
                <p>{{user?.name}}
                    <span>{{dateComment.time}} {{dateComment.date}}</span>
                </p>
            </div>
            <div class="user_comment">
                <h5>{{comment?.cmt}}</h5>
            </div>
            <div class="comment_extend">
                <div>
                    <i *ngIf="showReply" class="teal big angle down icon"></i>
                    <i *ngIf="!showReply" class="big angle up icon"></i>
                    <a (click)="onToggleReply()" data-toggle="collapse" [attr.data-target]="'#'+comment._id" aria-expanded="false" aria-controls="collapseExample">
                        {{reply?.length}} reply
                    </a>
                </div>
            </div>
            <div  class="comment_reply collapse" [id]="comment._id" [ngClass]="{'show':collapsed | async}">
                <div *ngFor="let rep of replySub | async" id="comments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img (click)="onNavigateUserHome(rep?.usercmt._id)" id="avatar" [src]="rep?.usercmt.img">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>{{rep?.usercmt.name}}
                                    <span>{{rep?.date}}</span>
                                </p>
                            </div>
                            <div class="user_comment">
                                <h5>{{rep.cmt}}</h5>
                            </div>
                            <div class="comment_extend">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form *ngIf="signInUser !== null" [formGroup]="replyForm">
                <div class="ui fluid action input">
                    <input type="text" placeholder="Leave your reply..." formControlName="cmt">
                    <button (click)="onSubmitReply()" class="ui blue icon button">
                      <i  class="send icon"></i>
                    </button>
                  </div>
            </form>
        </div>
    </div>
</div>