<div id="content">
    <div id="left_panel">
        <div id="filter_segment" class="ui  segments">
            <div id="filter_segment_header" class="ui segment">
                <p>Filter</p>
            </div>
            <div id="left_panel_content">
                <div id="item1">
                    <div id="search_inp" class="ui fluid action input">
                        <input placeholder="Search..." type="text">
                        <button class="ui blue icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
                <div id="item2">
                    <div id="area_btn" class="ui fluid floating labeled icon dropdown button">
                        <i class="large blue marker icon"></i>
                        <span class="text">Your area</span>
                        <div class="menu">
                            <div class="item">
                                <i class="dropdown icon"></i>
                                Right
                                <div class="right menu">
                                    <div class="item">1</div>
                                    <div class="item">2</div>
                                    <div class="item">3</div>
                                </div>
                            </div>
                            <div class="item">
                                Quận 2
                            </div>
                            <div class="item">
                                Quận Thủ Đức
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item3">
                    <div id="category_btn" class="ui fluid floating labeled icon dropdown button">
                        <i class="large blue list icon"></i>
                        <span class="text">Category</span>
                        <div class="menu">
                            <div class="item">
                                Electronics
                            </div>
                            <div class="item">
                                Vehicles
                            </div>
                            <div class="item">
                                Estate
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item4">
                    <i class="big blue dollar icon"></i>
                    <div id="slider"></div>
                </div>
                <div id="item5">

                </div>
                <div id="item5">
                    <i class="big blue star icon"></i>
                    <h3>Highest</h3>
                    <div id="checkbox" class="ui toggle checkbox">
                        <input id="search_input" type="checkbox" value="Camera">
                        <label></label>
                    </div>
                </div>
            </div>
        </div>
        <div id="button_segments" class="ui inverted segments">
            <div class="ui  fluid buttons">
                <button class="ui basic red  button create_btn">Create one</button>
                <button (click)="onShowRange()" class="ui basic green  button find_btn">Find post</button>
                <button class="ui basic blue  button reset_btn">Reset</button>
            </div>
        </div>
        <div id="vippost_segments" class="ui segments">
            <div id="segment_header" class="ui  segment">
                <p>Vip post</p>
            </div>
            <div id="vippost_segment_item" class="ui blue left aligned  segment">
                <p>Lorem ipsum dolor sit amet, consect...</p>

                <div id="vippost_content">
                    <div class="vippost_content_cost">
                        <i class="large blue dollar icon"></i>
                        <p>23</p>
                    </div>
                    <div class="vippost_content_area">
                        <i class="large blue marker icon"></i>
                        <p>TP.HCM</p>
                    </div>
                    <div class="vippost_content_product">
                        <i class="large blue dropbox icon"></i>
                        <p>Mercedex 78fc...</p>
                    </div>
                    <div class="vippost_content_cate">
                        <i class="large blue tag icon"></i>
                        <p>Vehicle | car</p>
                    </div>
                </div>
            </div>
            <div id="vippost_segment_item" class="ui blue left aligned  segment">
                <p>Lorem ipsum dolor sit amet, consect...</p>

                <div id="vippost_content">
                    <div class="vippost_content_cost">
                        <i class="large blue dollar icon"></i>
                        <p>23</p>
                    </div>
                    <div class="vippost_content_area">
                        <i class="large blue marker icon"></i>
                        <p>TP.HCM</p>
                    </div>
                    <div class="vippost_content_product">
                        <i class="large blue dropbox icon"></i>
                        <p>Mercedex 78fc...</p>
                    </div>
                    <div class="vippost_content_cate">
                        <i class="large blue tag icon"></i>
                        <p>Vehicle | car</p>
                    </div>
                </div>
            </div>
            <div id="vippost_segment_item" class="ui blue left aligned  segment">
                <p>Lorem ipsum dolor sit amet, consect...</p>

                <div id="vippost_content">
                    <div class="vippost_content_cost">
                        <i class="large blue dollar icon"></i>
                        <p>23</p>
                    </div>
                    <div class="vippost_content_area">
                        <i class="large blue marker icon"></i>
                        <p>TP.HCM</p>
                    </div>
                    <div class="vippost_content_product">
                        <i class="large blue dropbox icon"></i>
                        <p>Mercedex 78fc...</p>
                    </div>
                    <div class="vippost_content_cate">
                        <i class="large blue tag icon"></i>
                        <p>Vehicle | car</p>
                    </div>
                </div>
            </div>
            <div id="vippost_segment_item" class="ui blue left aligned  segment">
                <p>Lorem ipsum dolor sit amet, consect...</p>

                <div id="vippost_content">
                    <div class="vippost_content_cost">
                        <i class="large blue dollar icon"></i>
                        <p>23</p>
                    </div>
                    <div class="vippost_content_area">
                        <i class="large blue marker icon"></i>
                        <p>TP.HCM</p>
                    </div>
                    <div class="vippost_content_product">
                        <i class="large blue dropbox icon"></i>
                        <p>Mercedex 78fc...</p>
                    </div>
                    <div class="vippost_content_cate">
                        <i class="large blue tag icon"></i>
                        <p>Vehicle | car</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main_panel" class="ui raised">

    </div>
</div>