
<div id="content">
    <div id="left_panel">
        <div id="filter_segment" class="ui  segments">
            <div id="filter_segment_header" class="ui segment">
                <p>Filter</p>
            </div>
            <div id="left_panel_content">
                <div id="item1">
                    <div id="search_inp" class="ui fluid transparent icon input">
                        <input id="titleSearchInp" placeholder="Search post title...">
                    </div>

                </div>
                <div id="item2">
                    <div id="area_btn" class="ui fluid floating labeled icon dropdown button">
                        <i class="large blue marker icon"></i>
                        <span class="text">Your area</span>
                        <div class="menu">
                            <div *ngFor="let area of areas" class="item">
                                <i class="dropdown icon"></i>
                                {{area?.name}}
                                <div class="right menu">
                                    <div *ngFor="let subarea of area?.subareas" class="item" (click)="onAreaSelect(subarea._id)">
                                        <option [value]="subarea._id">{{subarea?.name}}</option>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="item2">
                    <div id="currency_dropdown" class="ui fluid floating labeled icon dropdown button">
                        <i class="large blue euro icon"></i>
                        <span class="text">US Dollar (USD)</span>
                        <div class="menu">
                            <div *ngFor="let c of CURRENCY" class="item" (click)="onCurrencySelect(c.ellipsis)">
                                <option [value]="c.ellipsis"> {{c.name}} ({{c.ellipsis}})</option>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div id="item3">
                    <div id="category_btn">
                        <select id="multi-select" name="category" multiple="" class="ui fluid search dropdown" [disabled]="ctgrCount === 3">
                            <option (click)="categoriesCount()" *ngFor="let p of PRODUCTS" [innerHTML]="p?.type | titlecase | _truncate" [value]="p?._id"  ></option>
                        </select>
                    </div>
                </div> -->
                <div id="item2">
                    <div id="category_dropdown" class="ui fluid floating labeled icon dropdown button">
                        <i class="large blue dropbox icon"></i>
                        <span class="text">Category</span>
                        <div class="menu product_menu">
                            <div *ngFor="let p of PRODUCTS" class="item" (click)="onCategorySelect(p._id)">
                                <option [value]="p?._id"> {{p?.type | titlecase | _truncate}}</option>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="item4">
                    <div id="slider"></div>
                </div>
                <div id="item5">

                </div>
                <div id="item5">
                </div>
            </div>
        </div>
        <div id="button_segments" class="ui inverted segments">
            <div class="ui  fluid buttons">
                <button (click)="onCreatePost()" class="ui basic red  button create_btn">Create one</button>
                <button (click)="onFindPost()" class="ui basic green  button find_btn">Find post</button>
                <button (click)="onReset()" class="ui basic blue  button find_btn">Reset filter</button>
            </div>
        </div>
        <div id="vippost_segments" class="">
            
        </div>
    </div>
    <div id="main_panel" class="">
        <div *ngIf="filterMode" class="ui mini teal icon message">
            <i class="search icon"></i>
            <div class="content">
                <div class="header">
                    {{postCount}} results found!
                </div>
                <p>Display {{loaded}}/{{postCount}} posts</p>
            </div>
        </div>
        <div *ngFor="let post of posts" class="post_holder">
            <mini-post [user]="post?.userpost" [post]="post"></mini-post>
        </div>
        <div *ngIf="loading" class="loading_post">
            <h3>loading more post...</h3>
        </div>
    </div>
</div>