<div id="post" class="">
    <mini-post [user]="user" [post]="post" [isSpec]="isSpec"></mini-post>
</div>
<!---Comment---->
<div class="ui  segments">
    <div class="ui big fluid icon input">
        <input placeholder="Leave your comment..." type="text">
        <i class="circular inverted blue comments outline link icon "></i>
    </div>
</div>
<div id="comments" class="ui segments">
    <div class="comment_item">
        <div class="comment_ava">
            <img id="avatar" src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png">
        </div>
        <div class="comment_item_content">
            <div class="comment_info">
                <p>Peter Jackson
                    <span>19h5 29/9/2017</span>
                </p>
            </div>
            <div class="user_comment">
                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec,
                    facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis
                    leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis
                    sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem
                    vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis
                    lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere.
                    Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
            </div>
            <div class="comment_extend">
                <div>
                    <i class="green big  toggle on icon"></i>
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">2 comment</a>
                </div>
            </div>
            <div class="comment_reply collapse" id="collapseExample">
                <div id="comments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>Peter Jackson
                                    <span>19h5 29/9/2017</span>
                                </p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo
                                    a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod,
                                    dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu
                                    ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo.
                                    Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus
                                    quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem
                                    vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum
                                    eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor
                                    leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis
                                    at, tempor et mi. </h5>
                            </div>
                            <div class="comment_extend">
                            </div>

                        </div>

                    </div>
                </div>
                <div id="comments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="https://i.pinimg.com/originals/7c/c7/a6/7cc7a630624d20f7797cb4c8e93c09c1.png">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>Peter Parker
                                    <span>19h5 29/9/2017</span>
                                </p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo
                                    a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod,
                                    dolor odio mattis orci, a convallis leo quam sit amet est.</h5>
                            </div>
                            <div class="comment_extend">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div>
                <form class="ui reply form">
                    <div class="ui tiny fluid icon input">
                        <input placeholder="Leave your comment..." type="text">
                        <i class="circular inverted blue send outline icon "></i>
                    </div>
                </form>
            </div>

        </div>

    </div>

</div>
<!-------------->
<!------comment 2-------->
<div id="comments" class="ui segments">
    <div class="comment_item">
        <div class="comment_ava">
            <img id="avatar" src="">
        </div>
        <div class="comment_item_content">
            <div class="comment_info">
                <p>Michale Bay
                    <span>19h5 29/9/2017</span>
                </p>
            </div>
            <div class="user_comment">
                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec,
                    facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis
                    leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis
                    sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem
                    vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis
                    lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere.
                    Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
            </div>
            <div class="comment_extend">
                <div>
                    <i class="grey big toggle off icon"></i>
                    <a data-toggle="collapse" href="#comment_reply2" aria-expanded="false" aria-controls="collapseExample">2 comment</a>
                </div>
            </div>
            <div class="comment_reply collapse" id="comment_reply2">
                <div id="comments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>King
                                    <span>19h5 29/9/2017</span>
                                </p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo
                                    a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod,
                                    dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu
                                    ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo.
                                    Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus
                                    quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem
                                    vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum
                                    eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor
                                    leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis
                                    at, tempor et mi. </h5>
                            </div>
                            <div class="comment_extend">
                            </div>

                        </div>

                    </div>
                </div>
                <div id="comments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>Peter Parker
                                    <span>19h5 29/9/2017</span>
                                </p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo
                                    a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod,
                                    dolor odio mattis orci, a convallis leo quam sit amet est.</h5>
                            </div>
                            <div class="comment_extend">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div>
                <form class="ui reply form">
                    <div class="ui tiny fluid icon input">
                        <input placeholder="Leave your comment..." type="text">
                        <i class="circular inverted blue reply link icon "></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>