<div id="post" class="">
    <mini-post [user]="user" [post]="post" [isSpec]="isSpec"></mini-post>
</div>
<!---Comment---->
<div class="ui  segments">
    <form [formGroup]="cmtForm" >
        <div class="ui big fluid icon input">
            <input class="comment_input" placeholder="Leave your comment..." type="text" formControlName="cmt">

            <i (click)="onSubmit()" class="circular inverted blue comments outline link icon "></i>
        </div>
    </form>
</div>
<div *ngFor="let comment of comments" class="ui segments">
    <post-comment [comment]="comment"></post-comment>
</div>