<div id="post" class="ui raised segments">
  <div id="post_info">
    <div class="post_ava">
      <img (click)="onNavigateUserHome()" id="avatar" [src]=user.img>
    </div>
    <div *ngIf="onCompareDate(post?.vipexpire)" class="ribbon-wrapper-green"><div class="ribbon-green">VIP</div></div>
    <div class="post_info_item">
      
      <div class="post_userinf">
        <div>{{user?.name}}</div>
        <div id="post_user_rating ">
          <div [id]="postIdAsync | async " class="ui mini star rating">
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
            <i class="icon"></i>
          </div>
        </div>
        <div>
          <i class="mail icon"></i>
        
        

        </div>
        <div *ngIf="onCheckUserPost()">
          <i *ngIf="onCheckAvailable()" class=" unhide icon"></i>
          <i *ngIf="!onCheckAvailable()" class=" red hide icon"></i>
          <i  class="configure icon"></i>
        </div>
        
      </div>
      <div (click)="onPostRedirect()"  class="post_title">
        <div>{{ellipsisTitle}} </div>
      </div>
      <div class="post_info">
        <div>
          <i class="big red marker icon"></i>
        </div>
        <div class="text">{{area?.name}} | {{area?.subarea.name}}</div>
        <div>
          <i class="big olive tag icon"></i>
        </div>
        <div class="text">{{categories}}</div>
        <div id="right_float">{{datePost.date}}</div>
        <div id="right_float">{{datePost.time}}</div>
        <div id="right_float">
          <i class="big clock icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="post_product">
    <ul class="nav nav-tabs" id="myTab" role="tablist">

      <!-- <li class="nav-item">
        <a (click)="onToggle('tab1')" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab">Mobile</a>
      </li>

      <li class="nav-item">
        <a (click)="onToggle('tab2')" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Profile</a>
      </li> -->
      <li *ngFor="let product of products" class="nav-item">
        <a [ngClass]="{'active':product.active}" (click)="onToggleTab(product._id)" class="nav-link" id="profile-tab" data-toggle="tab" href="" role="tab" aria-controls="profile"
          aria-selected="false">{{product.category | titlecase}} <i *ngIf="product.sold" class="green check circle icon"></i></a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div *ngFor="let product of products" class="post_holder">
        <div [hidden]="!product.active" class="tab-pane show active" id="" role="tabpanel">
          <product-info [isSpec]="isSpec" [product]="product" [cmtCount]="cmtCount" ></product-info>
          
        </div>
      </div>
    </div>

  </div>
</div>