/*
post post_info avatar
post _ava 
post_info_item 
post_userinf 
post_user_rating 
right_float 
post_title
post_info
post_product
product_specific_info

*/
:host{
   
}
#post{
    border-top-left-radius: 30px;
}

#post_info{
    display: grid;
    grid-template-columns:9vw 1fr;
    grid-template-rows: 9vw;
    grid-template-areas: "ava info-item";
}

.post_ava{
    grid-area:ava;
    background-color: white;
    padding-left:0;
    padding-right:0;
    margin-right: 0;
    border: 1px solid #E0E0E0;
    border-top-left-radius: 30px;
}

.post_ava #avatar{
    margin:0 !important;
    max-height:100%!important;
    max-width:100%!important;
}

.post_info_item{
    position: relative;
    grid-area: info-item;
    width:100%;
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-auto-rows: minmax(5px,3vw);
    grid-template-areas: "user"
        "title"
        "info";
}

.post_info_item >*{
    margin:auto;
    text-align: center;
    position:relative;
    line-height: 3vw;
}

.post_info_item >* >*{
    display: inline-block;
    float: left;
    margin-left:8px;
}

.post_info_item .text{
    margin-left:0;
}

.post_userinf{
    grid-area: user;
    width:100%;
    height: 100%;
    color:white;
    background-color: var(--primaryblue);

}

.post_userinf div{
    font-family: Roboto;
    font-size: 1.25vw;
    letter-spacing: 3px;
}

.post_userinf i:hover{
    cursor: pointer;
}

#post_user_rating{
    height: 5px;
}

#right_float{
    float:right;
    margin-right: 5px;
}

.post_title{
    grid-area: title;
    width:100%;
    height: 100%;
    color:white;
    background-color: var(--primaryblue2);
    font-size:1.5vw;
    text-overflow: ellipsis;

}

.post_title:hover div{
    cursor: pointer;
}

.post_info{
    grid-area: info;
    width:100%;
    height: 100%;
    color:white;
    font-size: 0.8vw;
    background-color:var(--primaryblue3);
}

.post_product{
    grid-area: product;
    background-color: white;
    width:100%;
    height:auto;
}

.product_specific_info{
    background-color: white;
    height: 50px;
    line-height: 50px;
}

.product_specific_info >* {
    padding: 0;
    display: inline-block;
    float: left;
    margin-left:5px;
}

.product_specific_info >*:first-child{
    margin-left: 20px;
}

.carousel-item{
    overflow: hidden;
    width:100%;
    height: 350px;

}
.carousel-item img {
    object-fit: cover!important;
}