
body
{
    position:relative;
    text-align: center;
    background-color: #E9EBEA;
}
#loader{
    position: absolute;
    top:50%;
    right: 0;
    left: 0;
    margin:auto;
    transform: translateY(-50%);
    object-fit: cover
}