<div id="content">
  <div id="left_panel" class="">
    <div id="left_panel_header">
      <img id="avatar" [src]="user?.img" >
      <div id="user_rating" class="ui big star rating">
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
      </div>
    </div>
    <div id="item1">
      <div id="name">
        <i class="big address card outline icon"></i>
        <p>{{user?.name}}</p>
      </div>
      <div id="email">
        <i class="big mail icon"></i>
        <p>{{user?.email}}</p>
      </div>
    </div>
    <div id="item2">
      <button (click)="onSub()" class="ui fluid basic teal labeled icon button">
        <i class=" big flag checkered icon"></i>
        Visit home
      </button>
    </div>
    <div id="item3">
      <button class="ui fluid basic red labeled icon button">
        <i class=" big warning circle icon"></i>
        Report
      </button>
    </div>
    <!-- <div id="item4">
      <button class="ui fluid basic positive labeled icon button">
        <i class=" big write square icon"></i>
        Edit info
      </button>
    </div> -->
  </div>
  <div id="main_panel" >
    <post-holder></post-holder>
    <div *ngIf="loading" class="loading_post">
      <h3>loading more post...</h3>
    </div>

  </div>
</div>
