<div id="content">
    <div id="left_panel" class="">
      <div id="left_panel_header">
        <img id="avatar" [src]=user.img>
        <div id="user_rating" class="ui big star rating">
          <i class="icon"></i>
          <i class="icon"></i>
          <i class="icon"></i>
          <i class="icon"></i>
          <i class="icon"></i>
        </div>
      </div>
      <div id="item1">
        <div id="name">
          <i class="big address card outline icon"></i>
          <p>{{user.name}}</p>
        </div>
        <div id="email">
          <i class="big mail icon"></i>
          <p>{{user.email}}</p>
        </div>
        <div id="post_count">
          <div>
            <i class="big browser icon"></i>
          </div>
          <p>Display {{currentPost}}/{{postsCount}} posts</p>
        </div>
      </div>
      <div id="item2">
        
      </div>
      <div id="item4">
        
      </div>
      <div id="item5">
        
      </div>
    </div>
    <div id="main_panel">
      <router-outlet></router-outlet>

        <div class="post_holder" *ngFor="let post of posts">
          <mini-post *ngIf="post.approval" [user]="user" [post]="post"></mini-post>
        </div>

      <div *ngIf="loading" class="loading_post">
        <h3>loading more post...</h3>
      </div>
  
    </div>
  </div>