
<div id="panel_content">
    <img id="home_panel" src="../../assets/MainPage/home_panel_2.1.jpg" />
</div>
<div class="" id="main_page_content">
    <div id="areas">
        <img src="../../assets/MainPage/areas1.jpg" />
        <h3>Specify your area </h3>
        <p>Post or find some bargains near your place</p>
    </div>
    <div id="category">
        <p>Specify what you wanna buy</p>
        <img src="../../assets/MainPage/category.jpg" />
        <h1>Category catalog</h1>
    </div>
    <div id="mobile">
        <img src="../../assets/MainPage/mobile.jpg" />
        <figcaption>
            <p>Mobile
                <span>phone</span>
            </p>
        </figcaption>
    </div>
    <div id="motor">
        <img src="../../assets/MainPage/motor.jpg" />
        <figcaption>
            <p>Motor
                <span>bike</span>
            </p>
        </figcaption>
    </div>
    <div id="estate">
        <img src="../../assets/MainPage/estates.jpg" />
        <figcaption>
            <p>Estate</p>
        </figcaption>
    </div>
    <div onclick="window.location='post.html'" id="camera">
        <img src="../../assets/MainPage/camera.jpg" />
        <figcaption>
            <p>Camera</p>
        </figcaption>
    </div>
    <div id="laptop">
        <img src="../../assets/MainPage/laptop.jpg" />
        <figcaption>
            <p>Laptop</p>
        </figcaption>
    </div>
    <div id="tablet">
        <img src="../../assets/MainPage/tablet.jpg" />
        <figcaption>
            <p>Tablet</p>
        </figcaption>
    </div>
    <div id="car">
        <img src="../../assets/MainPage/car.jpg" />
        <figcaption>
            <p>Car</p>
        </figcaption>
    </div>
    <div id="bicycle">
        <img src="../../assets/MainPage/bicycle.jpg" />
        <figcaption>
            <p>Bicycle</p>
        </figcaption>
    </div>
    <div id="another">
        <p>Let's post or find out some another goods</p>
        <img src="../../assets/MainPage/another.jpg" />
    </div>
</div>
<!-- <footer>
    <div id="social">
        <div class="ui tiny icon buttons">
            <button class="ui facebook button">
                <i class="facebook icon"></i>
            </button>
            <button class="ui twitter button">
                <i class="twitter icon"></i>
            </button>
            <button class="ui google plus button">
                <i class="google plus icon"></i>
            </button>
        </div>
    </div>
    <figcaption>
        <p>Designed and deverloped by
            <span>hyhoang</span>
            <br>© 2017 MEAN, Group</p>
    </figcaption>

</footer> -->