<div class="ui basic modal">
    <div class="ui icon header">
      <i class="checkmark icon"></i>
      Successfully post!!!
    </div>
    <div class="actions">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        Stay
      </div>
      <div (click)="onNavigatePost()" class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        View
      </div>
    </div>
  </div>
<div id="main_panel" class="ui raised segment">
  <p></p>
  <div class="header_segment">
    <h3>Create post</h3>
  </div>
  <div class=" content_segment">
    <div class="ui segment" [hidden]="next">
      <form class="ui form" [formGroup]="postForm">

        <h3 class="ui blue dividing header">Post information</h3>
        <div class="field">
          <div class="ui form warning">
            <div class="ui warning message">
              <div class="header">Notice</div>
              <ul class="list">
                <li>You must choose your district before moving on next step</li>
                <li>You can choose more than 1 type of product</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="field">
          <label>
            <i class="large  write icon"></i>Title</label>
          <input name="post_title" type="text" formControlName="title">
        </div>
        <div class="field">
          <label>
            <i class="large marker icon"></i>City</label>
          <div class="ui compact selection dropdown city_dropdown">
            <i class="dropdown icon"></i>
            <div class="text">Select your city</div>
            <div class="menu">
              <div *ngFor="let area of areas" [innerHTML]="area.name" (click)="onChangeArea(area.name)" class="item"></div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>
            <i class="large map pin icon"></i>District</label>
          <div class="ui compact selection dropdown district_dropdown">
            <i class="dropdown icon"></i>
            <div class="text">Select your district</div>
            <div class="menu">
              <div *ngFor="let district of districts" [innerHTML]="district.name" (click)="onDistrictChoice(district._id)" class="item"></div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>
            <i class="large tags icon"></i>Category</label>
          <select id="category_selection" name="" multiple="" class="ui search selection dropdown">
            <option *ngFor="let product of products" [value]="product._id" [innerHTML]="product.type | _truncate | titlecase"></option>
          </select>
        </div>
        <div class="field">
          <button [disabled]="postForm.controls['subareaid'].value === null" (click)="onNext()" class="ui fluid blue button next_step_btn">Next step</button>
        </div>

      </form>
    </div>
    <div [hidden]="!next">
      <div *ngIf="category.length == 0">
        <div class="ui red  message">
          <div class="header">
            No type of product selected
          </div>
          <p>Please back and choose some type of product in the category dropdown</p>
        </div>
      </div>
      <h3 class="ui dividing header">Product information</h3>
      <div class="field">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li *ngFor="let c of category" class="nav-item">
            <a [ngClass]="{'active':c.active}" (click)="onToggleTab(c._id)" class="nav-link" [id]="c._id" data-toggle="tab" role="tab"
              aria-selected="true">{{c.type | titlecase | _truncate }}</a>
          </li>
        </ul>
        <div *ngFor="let c of category" class="tab-content" id="myTabContent">
          <div [hidden]="!c.active" class="tab-pane fade show active" [id]="c._id" role="tabpanel">
            <product-form [id]="c?._id"></product-form>
          </div>
        </div>
      </div>
      <div class="field btn_field">
        <div class="two ui buttons">
          <button (click)="onBack()" class="ui  right floated default button btn_submit" type="submit">Back</button>
          <button *ngIf="!loaded" [disabled]="invalidForm|async" (click)="onSubmit()" class="ui right floated green button back_btn">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>