<div class="login_container">
  <div id="main">
    <img id="wallpaper" src="../../assets/LoginPage/login_back_5.jpg" />
    <!-- <div class="ui loading form" id="content_login" [ngStyle]="{'display': isLoading ? 'none':'block'}"> -->
      <div class="" id="content_login" [ngClass]="{'ui loading form':isLoading}">
      <div class="loginFail" *ngIf="failMess" (click)="onFailMess()"><h1>Wrong email or password, please try again</h1></div>
      <header [ngStyle]="{'filter': isLoading ? 'blur(2px)':'blur(0px)'}">Welcome</header>
      <form class="ui big  form" [formGroup]="loginForm" [ngStyle]="{'filter': isLoading ? 'blur(2px)':'blur(0px)'}">
        <div class=" field">
          <div class="ui fluid icon input">
            <input id="email" placeholder="Your email" type="email" email formControlName="email">
            <i *ngIf="loginForm.controls['email'].valid" class="green checkmark icon"></i>
            <i *ngIf="loginForm.controls['email'].invalid" class="red remove icon"></i>
          </div>
        </div>
        <div class=" field">
          <div class="ui fluid icon input">
            <input id="pass" placeholder="Your password" type="password" formControlName="pass">
            <i *ngIf="loginForm.controls['pass'].valid" class="green checkmark icon"></i>
            <i *ngIf="loginForm.controls['pass'].invalid" class="red remove icon"></i>
          </div>
        </div>
        <button (click)="onSubmit()"  class="ui large positive button" [disabled]="loginForm.invalid">Sign in</button>
        <div class="ui horizontal divider">
          <p>OR</p>
        </div>
        <button disabled id="fb_btn" class="ui facebook button">
          <i class="facebook icon"></i>
          Login with Facebook
        </button>
        <button  (click)="onGoogleOAuth()"  id="gg_btn" class="ui google plus button">
          <i class="google plus icon"></i>
          Login with Google
        </button>
        <div class="ui divider">
        </div>
        <h5>You don't have any account? Create one &nbsp;
          <a>here</a>
        </h5>
      </form>
    </div>
  </div>
</div>