<div>
  <div [id]="idPromise | async" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let img of product.imglist;let i = index" [attr.data-target]="'#'+product._id" data-slide-to="i + 1" [ngClass]="{'active': i == 0}"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngIf="product?.imglist.length != 0">
        <div *ngFor="let img of product.imglist;let i = index" class="carousel-item" [ngClass]="{'active':i == 0}">
          <img class="d-block h-100 w-100" [src]="img" alt="{{i}} slide">
        </div>
      </div>
      <div *ngIf="product?.imglist.length == 0">
        <div class="carousel-item active">
          <img class="d-block h-100 w-100" src="../../../assets/noImage.png">
        </div>
      </div>

    </div>
    <a (click)="onNavigate()" class="carousel-control-prev" href="#{{idPromise | async}}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a (click)="onNavigate()" class="carousel-control-next" href="#{{idPromise | async}}" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!--</div>-->
  <div *ngIf="product.categoryid != 'est'" class="product_specific_info">
    <div>
      <i class="large dollar icon"></i>
    </div>
    <div>{{product.cost}} {{product.currency}}</div>
    <div>
      <i class="large dropbox icon"></i>
    </div>
    <div>{{product.product_name | truncate : 15}}</div>
    <div>
      <i class="large industry icon"></i>
    </div>
    <div> {{product.producer | truncate : 15}}</div>
    <div id="right_float">
      <i class="big comment outline icon"></i>
    </div>
    <div id="right_float">{{cmtCount}}</div>
  </div>
  <div *ngIf="product.categoryid == 'est'" class="product_specific_info">
    <div>
      <i class="large dollar icon"></i>
    </div>
    <div *ngIf="product.hasOwnProperty('leasecontract')">Lease: {{product.leasecontract?.cost}} {{product.leasecontract?.currency}}</div>
    <div *ngIf="product.hasOwnProperty('salecontract')">Sale: {{product.salecontract?.cost}} {{product.salecontract?.currency}}</div>
    <div>
      <i class="large marker icon"></i>
    </div>
    <div>{{product.address | truncate : 20}} </div>
    <div id="right_float">
      <i class="big comment outline icon"></i>
    </div>
    <div id="right_float">{{cmtCount}}</div>
  </div>
  <div *ngIf="isSpec" class="product_description">

    <div class="product_specific_info2 ui segment">
      <a class="ui blue ribbon label sold_label">
        <h3 class="ui header">Product's specific info</h3>
      </a>
      <!-- <a *ngIf="product.sold" class="ui red ribbon label sold_label"><h6>SOLD</h6></a> -->
      <a *ngIf="product.sold" class="item">
        <div class="ui red horizontal label">
          <h5>SOLD OUT</h5>
        </div>
      </a>
      <hr>
      <table *ngIf="this.product.categoryid !== 'est'" class="ui definition table">
        <tbody>
          <tr *ngFor="let key of keys">
            <td>{{key | uppercase | _truncate }}</td>
            <td>{{product.specificInfo[key]}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="this.product.categoryid == 'est'">
        <table class="ui definition table">
          <tbody>
            <tr *ngFor="let key of keys.info">
              <td>{{key | uppercase | _truncate }}</td>
              <td *ngIf="!typeofBoolean(product[key]); else icon">{{product[key]}}</td>
              <ng-template #icon>
                <td>
                  <i *ngIf="product[key]" class=" big green checkmark icon"></i>
                  <i *ngIf="!product[key]" class=" big red remove icon"></i>
                </td>
              </ng-template>
            </tr>
          </tbody>
        </table>
        <hr>
        <div *ngIf="keys.leaseKey !== undefined">
          <a class="ui olive ribbon label sold_label">
            <h3 class="ui header">Leasing information</h3>
          </a>
          <hr>
          <table class="ui definition table">
            <tbody>
              <tr *ngFor="let key of keys.leaseKey">
                <td>{{key | uppercase | _truncate }}</td>
                <td *ngIf="!typeofBoolean(product.leasecontract[key]); else icon">{{product.leasecontract[key]}}</td>
                <ng-template #icon>
                  <td>
                    <i *ngIf="product.leasecontract[key]" class=" big green checkmark icon"></i>
                    <i *ngIf="!product.leasecontract[key]" class=" big red remove icon"></i>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <div *ngIf="keys.saleKey !== undefined">
          <a class="ui orange ribbon label sold_label">
            <h3 class="ui header">Sale information</h3>
          </a>
          <hr>
          <table class="ui definition table">
            <tbody>
              <tr *ngFor="let key of keys.saleKey">
                <td>{{key | uppercase | _truncate }}</td>
                <td *ngIf="!typeofBoolean(product.salecontract[key]); else icon">{{product.salecontract[key]}}</td>
                <ng-template #icon>
                  <td>
                    <i *ngIf="product.salecontract[key]" class=" big green checkmark icon"></i>
                    <i *ngIf="!product.salecontract[key]" class=" big red remove icon"></i>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="ui fitted horizontal divider"></div>
      <a class="ui teal ribbon label sold_label">
        <h3 class="ui header">Description</h3>
      </a>
      <hr>
      <h5 [innerHTML]="product.description"></h5>
    </div>
  </div>
</div>