<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="icon" type="image/gif" href="./asset/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    </head>

    <body>

        <div id="navbar" class="ui tiny borderless fixed menu">

            <img id="nav_logo" src="asset/logo_typo_tiny.png"/>
            <a class="item"> <i class="lagre home icon"></i></a>
            <a class="item"> <i class="lagre search icon"></i></a>
            <div class="right menu">
                <div class="item">
                    <div class="ui buttons">
                        <button onclick="window.location='login.html'" class="ui mini button">Sign in</button>
                        <div class="or"></div>
                        <button class="ui mini positive button">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel_content">
            <img id="home_panel" src="asset/home_panel_2.1.jpg" />
        </div>
        <div class="" id="content">
            <div id="areas">
                <img src="asset/areas1.jpg" />
                <h3>Specify your area </h3>
                <p>Post or find some bargains near your place</p>
            </div>
            <div id="category">
                <p>Specify what you wanna buy</p>
                <img src="asset/category.jpg" />
                <h1>Category catalog</h1>
            </div>
            <div id="mobile">
                <img src="asset/mobile.jpg" />
                <figcaption>
                    <p>Mobile
                        <span>phone</span>
                    </p>
                </figcaption>
            </div>
            <div id="motor">
                <img src="asset/motor.jpg" />
                <figcaption>
                    <p>Motor
                        <span>bike</span>
                    </p>
                </figcaption>
            </div>
            <div id="estate">
                <img src="asset/estates.jpg" />
                <figcaption>
                    <p>Estate</p>
                </figcaption>
            </div>
            <div onclick="window.location='post.html'" id="camera">
                <img src="asset/camera.jpg" />
                <figcaption>
                    <p>Camera</p>
                </figcaption>
            </div>
            <div id="laptop">
                <img src="asset/laptop.jpg" />
                <figcaption>
                    <p>Laptop</p>
                </figcaption>
            </div>
            <div id="tablet">
                <img src="asset/tablet.jpg" />
                <figcaption>
                    <p>Tablet</p>
                </figcaption>
            </div>
            <div id="car">
                <img src="asset/car.jpg" />
                <figcaption>
                    <p>Car</p>
                </figcaption>
            </div>
            <div id="bicycle">
                <img src="asset/bicycle.jpg" />
                <figcaption>
                    <p>Bicycle</p>
                </figcaption>
            </div>
            <div id="another">
                <p>Let's post or find out some another goods</p>
                <img src="asset/another.jpg" />
            </div>
        </div>
        <footer>
            <div id="social">
                <div class="ui tiny icon buttons">
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui twitter button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui google plus button">
                        <i class="google plus icon"></i>
                    </button>
                </div>
            </div>
            <figcaption>
                <p>Designed and deverloped by
                    <span>hyhoang</span>
                    <br>© 2017 MEAN, Group</p>
            </figcaption>

        </footer>
    </body>

</html>