<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link rel="icon" type="image/gif" href="./asset/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--materialize css-->

        <!-------semantic------------>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <!------------------->
        <link rel="stylesheet" href="./css/style.css">

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>

        <!-------------------------->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <!---------slider----------->
        <link href="./css/nouislider.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/main_style.css">
        <link rel="stylesheet" href="./css/specific_post.css">
    </head>

    <body>

        <div id="navbar" class="ui tiny icon borderless fixed secondary pointing menu">

            <img id="nav_logo" src="asset/logo_typo_tiny.png"/>

            <a class="active item"> <i class="lagre home icon"></i></a>
            <a class=" item"> <i class="lagre search icon"></i></a>
            <div id="right_menu" class="right menu">
                <img id="avatar" src="./asset/ava_2.png">
                <a class="item">
                    <i class="lagre world icon"></i>
                </a>
                <a class="item">
                    <i class="lagre  inbox icon"></i>
                </a>
                <a class="item">
                    <i class="lagre red power icon"></i>
                </a>

            </div>
            <a id="ellipsis_icon" class="item">
                <i class="lagre ellipsis vertical icon"></i>
            </a>
        </div>
        <div id="content">

            <div id="left_panel" class="">
                <div id="left_panel_header">
                    <img id="avatar" src="./asset/ava_2.png">
                    <div id="user_rating" class="ui big star rating" data-rating="3">
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                        <i class="icon"></i>
                    </div>
                </div>
                <div id="item1">
                    <div id="name">
                        <i class="big address card outline icon"></i>
                        <p>Peter parker</p>
                    </div>
                    <div id="email">
                        <i class="big mail icon"></i>
                        <p>litlespider@gmail.com</p>
                    </div>
                    <div id="post_count">
                        <div><i class="big browser icon"></i></div>
                        <p>2 posts</p>
                    </div>
                </div>
                <div id="item2">
                    <button class="ui fluid basic teal labeled icon button">
                        <i class=" big inbox icon"></i>
                        Check inbox
                    </button>
                </div>
                <div id="item3">
                    <button onclick="window.location='post_creating.html'" class="ui fluid basic red labeled icon button">
                        <i class=" big edit icon"></i>
                        Create post
                    </button>
                </div>
                <div id="item4">
                    <button class="ui fluid basic positive labeled icon button">
                        <i class=" big write square icon"></i>
                        Edit info
                    </button>
                </div>
            </div>
            <div id="main_panel" class="ui raised segments">
                <!---template post 1---->
                <div id="post"class="ui raised segments">
                    <div id="post_info">
                        <div class="post_ava">
                            <img id="avatar" src="./asset/ava_2.png">
                        </div>
                        <div class="post_info_item">
                            <div class="post_userinf">
                                <div>Peter Parker</div>
                                <div id="post_user_rating">
                                    <div  class="ui mini star rating" data-rating="3">
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                        <i class="icon"></i>
                                    </div>
                                </div>
                                <div>
                                    <i class="mail icon"></i>
                                </div>
                                <div id="right_float">
                                    <i class=" write pin icon"></i>

                                </div>
                            </div>
                            <div class="post_title">
                                <div>Canon 50d lens compatibility </div>
                            </div>
                            <div class="post_info">
                                <div><i class="big red marker icon"></i></div>
                                <div>TP.HCM</div>
                                <div><i class="big olive tag icon"></i></div>
                                <div>Camera</div>
                                <div id="right_float">29/9/2017</div>
                                <div id="right_float">19h41</div>
                                <div id="right_float"><i class="big clock icon"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="post_product">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true">Camera</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <!--<div class = "product_info_carousel">-->
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="./asset/post_1_img3.jpg" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="./asset/post_1_img2.jpg" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="./asset/post_1_img1.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <!--</div>-->
                                <div class="product_specific_info">
                                    <div><i class="large dollar icon"></i>
                                    </div>
                                    <div>200</div>
                                    <div><i class="large dropbox icon"></i>
                                    </div>
                                    <div>Canon 50d</div>
                                    <div><i class="large industry icon"></i>
                                    </div>
                                    <div> Canon</div>
                                    <div id="right_float"><i class="big comment outline icon"></i></div>
                                    <div id="right_float">24</div>
                                </div>
                                <div class="product_description">
                                    <div class="product_specific_info2">
                                        <div class="ui fitted horizontal divider">
                                            Product specific info
                                        </div>
                                        <table class="ui definition table">
                                            <tbody>
                                                <tr>
                                                    <td>ISO</td>
                                                    <td>3200</td>
                                                </tr>
                                                <tr>
                                                    <td>MGPX</td>
                                                    <td>50mp</td>
                                                </tr>
                                                <tr>
                                                    <td>Shots</td>
                                                    <td>5125</td>
                                                </tr>
                                                <tr>
                                                    <td>Fps</td>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <td>Lens</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="ui fitted horizontal divider">
                                            Description
                                        </div>
                                        <h4>Integer sed tellus metus. Duis dignissim urna ut quam gravida, sed luctus nunc mattis. Vivamus consequat feugiat metus. Integer ornare tempor sapien et aliquet. Suspendisse molestie ullamcorper nisi et rhoncus. Maecenas molestie, odio ut efficitur luctus, est lacus venenatis mi, non varius turpis lectus et sem. Nulla maximus quam a sapien suscipit molestie. Suspendisse mi nunc, sollicitudin pellentesque volutpat sit amet, congue vitae mauris. Phasellus ac neque non magna venenatis fringilla sodales vel lectus. Aenean iaculis, turpis viverra sodales gravida, nisi turpis blandit justo, sit amet cursus tellus diam sit amet lacus. Etiam sed laoreet leo, eget venenatis nibh. Quisque arcu sapien, efficitur finibus nulla ac, tincidunt venenatis sapien. Sed nec eros eget nulla aliquet vestibulum. Proin sed odio at magna fermentum volutpat porttitor quis nibh. Donec efficitur lacus nibh, id aliquam lectus porta eu. </h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!---Comment---->
                <div class="ui  segments">
                    <div class="ui big fluid icon input">
                        <input placeholder="Leave your comment..." type="text">
                        <i class="circular inverted blue comments outline link icon "></i>
                    </div>
                </div>
                <div id="comments" class="ui segments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="./asset/ava_3.png">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>Peter Jackson <span>19h5 29/9/2017</span></p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
                            </div>
                            <div class="comment_extend">
                                <div><i class="grey large talk icon" ></i><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">2 comment</a></div>
                            </div>
                            <div class="comment_reply collapse" id="collapseExample">
                                <div id="comments">
                                    <div class="comment_item">
                                        <div class="comment_ava">
                                            <img id="avatar" src="./asset/ava_4.png">
                                        </div>
                                        <div class="comment_item_content">
                                            <div class="comment_info">
                                                <p>Peter Jackson <span>19h5 29/9/2017</span></p>
                                            </div>
                                            <div class="user_comment">
                                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
                                            </div>
                                            <div class="comment_extend">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div id="comments">
                                    <div class="comment_item">
                                        <div class="comment_ava">
                                            <img id="avatar" src="./asset/ava_2.png">
                                        </div>
                                        <div class="comment_item_content">
                                            <div class="comment_info">
                                                <p>Peter Parker <span>19h5 29/9/2017</span></p>
                                            </div>
                                            <div class="user_comment">
                                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est.</h5>
                                            </div>
                                            <div class="comment_extend">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <form class="ui reply form">
                                    <div class="ui tiny fluid icon input">
                                        <input placeholder="Leave your comment..." type="text">
                                        <i class="circular inverted blue reply link icon "></i>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
                <!-------------->
                <!------comment 2-------->
                <div id="comments" class="ui segments">
                    <div class="comment_item">
                        <div class="comment_ava">
                            <img id="avatar" src="./asset/ava_5.png">
                        </div>
                        <div class="comment_item_content">
                            <div class="comment_info">
                                <p>Michale Bay<span>19h5 29/9/2017</span></p>
                            </div>
                            <div class="user_comment">
                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
                            </div>
                            <div class="comment_extend">
                                <div><i class="grey large talk icon" ></i><a data-toggle="collapse" href="#comment_reply2" aria-expanded="false" aria-controls="collapseExample">2 comment</a></div>
                            </div>
                            <div class="comment_reply collapse" id="comment_reply2">
                                <div id="comments">
                                    <div class="comment_item">
                                        <div class="comment_ava">
                                            <img id="avatar" src="./asset/ava_6.png">
                                        </div>
                                        <div class="comment_item_content">
                                            <div class="comment_info">
                                                <p>King <span>19h5 29/9/2017</span></p>
                                            </div>
                                            <div class="user_comment">
                                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean quis dui justo. Pellentesque eget mauris pellentesque, tincidunt tellus sed, lobortis sapien. Vivamus quam mi, mollis dictum tellus ac, tempus elementum tortor. Aenean rhoncus erat vel sem vulputate consectetur. Integer leo urna, tincidunt vitae quam id, dapibus vestibulum eros. Etiam iaculis lacinia egestas. Vivamus id tellus erat. Praesent dictum dui tempor leo pretium, at fermentum augue posuere. Pellentesque ipsum quam, posuere eget convallis at, tempor et mi. </h5>
                                            </div>
                                            <div class="comment_extend">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div id="comments">
                                    <div class="comment_item">
                                        <div class="comment_ava">
                                            <img id="avatar" src="./asset/ava_2.png">
                                        </div>
                                        <div class="comment_item_content">
                                            <div class="comment_info">
                                                <p>Peter Parker <span>19h5 29/9/2017</span></p>
                                            </div>
                                            <div class="user_comment">
                                                <h5>Mauris pharetra dapibus orci. Phasellus ornare imperdiet auctor. Proin enim dolor, commodo a venenatis nec, facilisis a mauris. Sed ultricies, justo finibus efficitur euismod, dolor odio mattis orci, a convallis leo quam sit amet est.</h5>
                                            </div>
                                            <div class="comment_extend">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div>
                                <form class="ui reply form">
                                    <div class="ui tiny fluid icon input">
                                        <input placeholder="Leave your comment..." type="text">
                                        <i class="circular inverted blue reply link icon "></i>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
                <!----------------------->
            </div>
        </div>
        <footer>
            <div id="social">
                <div class="ui tiny icon buttons">
                    <button class="ui facebook button">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui twitter button">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui google plus button">
                        <i class="google plus icon"></i>
                    </button>
                </div>
            </div>
            <figcaption>
                <p>Designed and deverloped by <span>hyhoang</span><br>© 2017 MEAN, Group</p>
            </figcaption>

        </footer>
        <script src="./script/nouislider.min.js"></script>
        <script>
            $('.ui.dropdown').dropdown();
            $('.carousel').carousel({
                interval: 3000
            });
            $('.ui.rating').rating();


            var slider = document.getElementById('slider');

            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                range: {
                    'min': 0,
                    'max': 100
                }
            });
        </script>
    </body>
</html>